/*
    Document   : invoice
    Created on : Aug 25, 2012, 1:09:34 PM
    Author     : Robbyl
    Description:
        Purpose of the stylesheet follows.
*/

/* ~~ Invoice styles ~~ */

@font-face {
    font-family: "Segoe UI Light";
    src: url(fonts/segoeuil.ttf);
}

body {
    -webkit-print-color-adjust: exact;
    font: 100%/1.4 "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", "sans-serif";
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #ffffff;
    color: #272727;
}

ul {
    margin: 0;
}

.invoice-wrapper {
    width: 1060px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.2); 
}
.invoice {
    width: 1000px;
    padding: 20px 30px !important;
    clear: both;
    border-bottom: 1px dashed #000 !important;
}

.company-header {
    position: relative;
    width: 1000px;
    height: 100px;
}

.customer-header {
    position: relative;
    width: 1000px;
    height: 130px;
    border-top: 3px solid #cd7171;
}

.invoice-body {
    position: relative;
    width: 1000px;
    min-height: 200px;
}

.invoice-footer {

}

.invoice-table {
    width: 1000px;
    margin:  0 auto;
    border-collapse: collapse;
    clear: both;
}
.invoice-table td {
    padding: 0 5px !important;
}
.tr-line{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
}

.inv-list {
    float: left;
    padding: 0 10px 0 0 !important;
    list-style: none;
}
